<h1>About us</h1>

<body>
    <p><u><strong>Welcome to Buffer!</strong></u></p>
    <p>This is a website that I have built while trying to learn Ruby on Rails. There are 3 main functions of this website.</p>
    <ol>
        <li>You can create an account on Buffer.</li>
        <li>You can connect your Buffer account to multiple Twitter accounts.</li>
        <li>You can schedule tweets to be posted at a later time and edit/delete them should you change your mind.</li>
    </ol>
</body>